# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv
ENV/

# Testing
.pytest_cache/
.tox/
.coverage
htmlcov/

# KeySentry generated reports
*.html
*.csv
*.json

# IDE files
.idea/
.vscode/
*.iml
.vscode/

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Log files
*.log

# Backup files
*.bak
*.swp
*~
